html, body, #conteudo-principal {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../images/capa.png),
                url(../images/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

nav.transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4;
    padding: 10px 20px;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background: white;
    color: black;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#conteudo-servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#conteudo-servicos h2 {
    color: #7c25f8;
}

#conteudo-servicos h3 {
    color: #7c25f8;
}

#conteudo-recursos {
    padding-top: 20px;
    padding-bottom: 20px;
}

#conteudo-recursos h2 {
    color: #9bf0e1;
}

#conteudo-recursos h3 {
    color: #9bf0e1;
}

#conteudo-recursos p {
    color: white;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}

#rodape {
    background-color: black;
    padding: 40px 0px;
}

#rodape h4 {
    color: #919496;
    font-size: 0.8em;
}

#rodape .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

#rodape .navbar-nav a:hover {
    color: #9bf0e1;
    font-size: 0.8em;
    text-decoration: none;
}

#rodape ul {
    list-style: none;
    margin-bottom: 10px;
}

#rodape ul li {
    float: right;
    margin: 0 3px;
}

.carousel-control-next, .carousel-control-prev {
    width: 0%;    
}